## **IMPORT ALL THE REQUIRED LIBRARIES**

---
*   **Pandas** to import data into a data frame.
*   **sklearn** to run the model and predict output for new customers.
*   **pickle** to import the model

In [76]:
import pandas as pd
import pickle

## **IMPORT DATA**

---
Paste the name of file in the INPUT_FILE here to import the data.

In [77]:
data_to_predict = pd.read_csv('INPUT_FILE.csv')

data_to_predict.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,duration,campaign,pdays,previous,poutcome,y
0,45,entrepreneur,married,tertiary,no,169,no,no,cellular,7,391,4,-1,0,unknown,no
1,66,housemaid,married,primary,no,1230,no,no,cellular,17,726,3,-1,0,unknown,yes
2,29,blue-collar,divorced,secondary,no,-300,no,no,unknown,21,192,1,-1,0,unknown,no
3,35,services,married,secondary,no,341,yes,no,cellular,14,345,1,-1,0,unknown,yes
4,55,services,married,tertiary,no,2877,no,no,cellular,9,305,1,91,2,other,no
5,50,services,married,primary,no,-15,no,yes,unknown,2,71,1,-1,0,unknown,no
6,33,blue-collar,married,primary,no,41,yes,no,cellular,13,173,1,-1,0,unknown,no
7,32,management,single,tertiary,no,1493,yes,no,unknown,28,65,11,-1,0,unknown,no
8,47,management,single,tertiary,no,86,no,no,cellular,5,253,1,97,4,success,yes
9,37,services,divorced,secondary,no,398,yes,yes,unknown,5,214,2,-1,0,unknown,no

Further steps will assume all feature names are as same the features provided for training data and that there is no output variable 'y' and also input variable duration. If your data has by any chance, remove it by running below code block.

In [78]:
# y_test = data_to_predict.loc[:, data_to_predict.columns == 'y']

data_to_predict = data_to_predict.loc[:, data_to_predict.columns != 'y']
data_to_predict = data_to_predict.loc[:, data_to_predict.columns != 'duration']

## **ENCODING DATA**

---
Just to match our model, the data will be encoded as it was done for the training data. Run the below code for the same.

Important note before encoding: This is the order of encoding done for the model. Each category starts from 0 and is incremented by 1. Please add a different value if your data has any other value other than presented here:

*   array(['admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management','retired', 'self-employed', 'services', 'student', 'technician','unemployed', 'unknown'], dtype=object),
 *   array(['divorced', 'married', 'single'], dtype=object),
 *   array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object),
 *   array(['no', 'yes'], dtype=object),
 *   array(['no', 'yes'], dtype=object),
 *   array(['no', 'yes'], dtype=object),
 *   array(['cellular', 'telephone', 'unknown'], dtype=object),
 *   array(['failure', 'other', 'success', 'unknown'], dtype=object),
 *   array(['no', 'yes'], dtype=object)

In [79]:
#Encoding
from sklearn.preprocessing import OrdinalEncoder


encoded_data = data_to_predict.copy()
ord_enc = OrdinalEncoder(dtype=int)
encoded_data[["job","marital","education","default","housing","loan","contact","poutcome"]] = ord_enc.fit_transform(data_to_predict[["job","marital","education","default","housing","loan","contact","poutcome"]])
# y_test[["y"]] = ord_enc.fit_transform(y_test[["y"]])

## **IMPORT MODEL**

---
Import the model provided in the zip file and run the below code to initialize the model.

In [80]:
#Upload the provided model and import it by running below code.
model = pickle.load(open('model.pkl', 'rb'))

## **PREDICTING**

---
Predict if the customers will invest in the fixed term plan :)

In [81]:
#Predict on data
y_pred = model.predict(encoded_data);

# from sklearn.metrics import confusion_matrix
 
# cm = confusion_matrix(y_test['y'].values,y_pred)
# cm

In [83]:
print(y_pred[1:10])

[0 0 0 1 0 0 0 1 0]